@page
@model ProjetASI.Pages.Cachier.EncaisserModel

@{
    ViewData["Title"] = "Les factures encaisées";
}
<div>
    <h5>Encaisser la commande @Model.commande.ID</h5>
</div>
<form class="form-group">
    <label> Somme à encaisser</label>
    <input type="number" id="somme" value="0" min="0" max="@Model.commande.prix" />
    <button class="btn-primary" onclick="">  Payer</button>
    <br /><br /><br />
    <label>Restant à payer: </label>
    <span id="restant">
        @if (Model.commande.prix - Model.sommedejapayee > 0)
        {
            @(Model.commande.prix-Model.sommedejapayee)
        }
        else
        {
            <p>Paiement complet</p>
        }
    </span>
    <br /><br />

    <input type="submit" class="btn-primary" value="Valider l'encaissement" />
</form>

<script>
    let sommeInput = document.getElementById("somme");
    let restantSpan = document.getElementById("restant");
    let payerButton = document.getElementById("payer");
    let restant = @Model.commande.prix - @Model.sommedejapayee;

    if (restant <= 0) {
        restantSpan.textContent = "Paiement complet";
        payerButton.disabled = true;
    }

    sommeInput.addEventListener("input", () => {
        let somme = parseFloat(sommeInput.value);
        if (somme >= restant) {
            sommeInput.value = restant.toFixed(2);
            payerButton.disabled = false;
        } else {
            payerButton.disabled = true;
        }
    });
</script>