@page
@model ProjetASI.Pages.Cachier.EncaisserModel

@{
    ViewData["Title"] = "Les factures encaisées";
}
<div>
    <h5>Encaisser la commande @Model.commande.ID</h5>
</div>
<form class="form-group" method="post" id="form">
    <label> Somme à encaisser</label>
    <input type="number" id="somme" value="0" min="0" max="@Model.commande.prix" />
    <button class="btn-primary" id="payer" onclick="calcul(event) ">Payer</button>
    <br /><br /><br />
    <label>Restant à payer: </label>
    <span id="restant">
    </span>
    <br /><br />
    <button type="submit" id="paiement"  class="btn btn-primary" asp-route-id="@Model.commande.ID"> Valider le paiement</button>
    <button type="submit" id="paiement" class="btn btn-primary" asp-route-id="@Model.commande.ID" asp-page-handler="facture"> Générer une facture</button>
</form>

<script>
    let sommeInput = document.getElementById("somme");
    let restantSpan = document.getElementById("restant");
    let payerButton = document.getElementById("payer");
    let paiement = document.getElementById("paiement");
    paiement.disabled = true ;
    let restant = @Model.commande.prix;
    restantSpan.textContent = restant;
    function calcul(event) {
        event.preventDefault();
        let somme = parseFloat(sommeInput.value);
        restant = restant - somme;
        restantSpan.textContent = restant;
        sommeInput.value = 0;
        if (restant == 0 ) {
       
            paiement.disabled = false ;
            payerButton.disabled = true;
          
        }
       
    }


    
</script>